*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    border: 1px solid black;
    
}
header{
    height: 20%;
    background-color: rgb(68, 68, 235);
    color: white;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}
a{
    margin: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
}
main{
    border: 1px solid black;
    height: 70%;
}
footer{
    height: 10%;
    background-color: rgb(68, 68, 235);
    color: white;
    text-align: center;
    padding: 10px;
}