*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    border: 1px solid black;
    
}
header{
    height: 20%;
    background-color: rgb(68, 68, 235);
    color: white;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
a{
   
    padding: 20px;
    color: white;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
}
main{
    border: 1px solid black;
    height: 70%;
    display: grid;
    grid-template-areas: "section section aside"
                          "article1 article2 aside"                      ;
}
    section{
        grid-area: section;
        
    }
    aside{
        
        grid-area: aside;
    }
    .article1{
        
        grid-area: article1;
    }
    .article2{
       
        grid-area: article2;
    }

footer{
    height: 10%;
    background-color: rgb(68, 68, 235);
    color: white;
    text-align: center;
    padding: 10px;
}